--- 
title: My Great Blog
layout: home
---
<div class="row">
  <div class="large-12 columns" role="content">
    <p>Quisque vel sapien nibh. Nunc nunc lorem, cursus et ornare at, pulvinar at elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis felis, laoreet id scelerisque ut, sodales et dui. Nulla et nulla et nisl gravida adipiscing mattis consequat neque. Suspendisse vulputate erat vitae odio viverra eleifend. Donec ornare est quis velit consectetur lacinia. Phasellus leo odio, bibendum eget mollis quis, sollicitudin eu nunc. Nulla in consectetur urna.</p>
    <a href="/archive/" class="button">Post Archive</a>
  </div>
</div>